@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a:hover {
    @apply underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading my-6;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }

  p {
    @apply my-2;
  }

  ul,
  ol {
    @apply my-4;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li {
    @apply my-2;
  }
}

@layer components {
  .btn {
    @apply disabled:bg-slate-200 disabled:cursor-not-allowed hover:no-underline bg-slate-300 tracking-wider w-full text-center text-slate-800 font-bold cursor-pointer uppercase px-4 py-2 rounded-md hover:bg-slate-500 transition-colors block hover:text-slate-100;
  }

  @keyframes pulse-animation {
    0% {
      background-color: #10b981; /* Cyan color from Tailwind CSS */
    }
    50% {
      background-color: #ffffff; /* White color */
    }
    100% {
      background-color: #10b981; /* Back to cyan color */
    }
  }

  /* Add animation class to animate the div */
  .animate-pulse {
    animation: pulse-animation 2s infinite;
  }
}
